html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: none; 
}